name: Promote

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (e.g. v0.1.0)'
        required: true
      channel:
        description: 'Release channel'
        required: true
        default: 'alpha'

env:
  # Common versions
  GO_VERSION: '1.19'

  DOCKER_USR: ${{ github.actor }}

jobs:
  promote-artifacts:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Fetch History
        run: git fetch --prune --unshallow

      - name: Login to GHCR
        uses: docker/login-action@v1
        if: env.DOCKER_USR != ''
        with:
          registry: ghcr.io
          username: ${{ secrets.DOCKER_USR }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Promote Artifacts in GHCR
        if: env.DOCKER_USR != ''
        run: make -j2 promote BRANCH_NAME=${GITHUB_REF##*/}
        env:
          VERSION: ${{ github.event.inputs.version }}
          CHANNEL: ${{ github.event.inputs.channel }}
        
